<!-- Admiral Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Approve Leave Requests
    </h5>

    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>My Favourite Employee Request
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>Worst Employee Request
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier3" href="#"
      class="btn btn-block btn-primary">Select</a>
  </div>
</div>