<!-- Freighter Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Check Assignment
    </h5>
    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>
        Finish Assessment for Launchdarkly
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>Invest
        in Cryptocurrency
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>Lose Money
        and Cry
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier1" href="#" class="btn btn-block btn-primary">
      Select
    </a>
  </div>
</div>