<!-- Constellation Tier -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Vacation Request
    </h5>
    <hr />
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>Next Week
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>Christmas
      </li>
      <li>
        <span class="fa-li"><i
            class="fas fa-circle"></i></span>New Year's
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <a id="tier2" href="#"
      class="btn btn-block btn-primary">Select</a>
  </div>
</div>